/*------------------------------------*\
    background-color
\*------------------------------------*/
.adminHeader{
    background: #D3E4E1;
}

/*------------------------------------*\
    link style
\*------------------------------------*/


/*------------------------------------*\
    ul, ol, li style
\*------------------------------------*/
ul, ol, li {
    list-style: none;
    padding: 0;
    margin: 0;
}


/*------------------------------------*\
    font style
\*------------------------------------*/


/*------------------------------------*\
    btn icon
\*------------------------------------*/


/*------------------------------------*\
    color
\*------------------------------------*/


/*------------------------------------*\
    margin, padding
\*------------------------------------*/
