<script type="module" src="../js/admin_header.js"></script>

<header class="adminHeader bg-neutral03">
    <div class="container">
        <div class="row py-6">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="admin_index.html">
                        <img src="../assets/icons/LogoHorizontal.svg" alt="logo圖片">
                    </a>
                    
                </div>
                <div>
                    <p class="welcome align-middle"></p>
                </div>
                <nav class="">
                    <ul class="d-flex mb-0">
                        <li>
                            <a class="adminLink align-middle" href="admin_account.html">帳號管理</a>
                        </li>
                        <li class="ms-4">
                            <a class="adminLink align-middle" href="admin_booking.html">訂單管理</a>
                        </li>
                        <li class="ms-4">
                            <a class="adminLink align-middle" href="admin_rooms.html">客房管理</a>
                        </li>
                        <li class="ms-4">
                            <a class="adminLink align-middle" href="admin_article.html">文章管理</a>
                        </li>
                        <li class="ms-4 logout">
                            <a class="adminLink logout align-middle" href="#">登出</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
</header>
