<header class="d-flex justify-content-between p-5">
    <div>
        <a href="../pages/admin_index.html">後台首頁</a>
    </div>
    <nav>
        <ul class="d-flex ">
            <li>
                <a href="../pages/admin_account.html">帳號管理</a>
            </li>
            <li class="ms-3">
                <a href="../pages/admin_booking.html">訂單管理</a>
            </li>
            <li class="ms-3">
                <a href="../pages/admin_rooms.html">客房管理</a>
            </li>
            <li class="ms-3">
                <a href="../pages/admin_article.html">文章管理</a>
            </li>
            <li class="ms-3">
                <a class="logout" href="../pages/logout.html">登出</a>
            </li>
        </ul>
    </nav>
</header>