<div class="row ps-8 pe-8 mb-8">
    <div class="p-0 col-2">
        <div>
            <input class="rounded-2 form-control inputBookingNumber" type="text" name="bookingNumber"
                placeholder="請輸入訂單編號">
        </div>
    </div>
    <div class="d-flex col-7">
        <div class="input-group">
            <span class="input-group-text">請選取起始日期</span>
            <input type="date" name="startDate" class="form-control inputStartDate">
        </div>
        <div class="input-group ps-3">
            <span class="input-group-text">請選取結束日期</span>
            <input type="date" name="endDate" class="form-control inputEndDate">
        </div>
    </div>
    <div class="col-3 d-flex justify-content-end pe-0">
        <button class="btn btn-success d-flex align-items-center">
            查詢
            <span class="material-symbols-outlined ms-2">search</span>
        </button>
        <button class="btn btn-success ms-3">查看當月訂單</button>
    </div>
</div>