<aside class="aside h-100 d-flex flex-column align-items-center">
  <a id="memberData" class="fs-3 my-5" href="../pages/member.html">
    <div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconPerson.svg" alt="iconPerson" />
      <p>資料管理</p>
    </div>
  </a>

  <a id="catData" class="fs-3 my-5" href="../pages/catData.html">
    <div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconCat.svg" alt="iconCat" />
      <p>我的貓咪</p>
    </div></a
  >

  <a id="bookingHistory" class="fs-3 my-5" href="../pages/bookingHistory.html"
    ><div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconHouse.svg" alt="iconHouse" />
      <p>訂房紀錄</p>
    </div></a
  >

  <a id="importantNotice" class="fs-3 my-5" href="../pages/importantNotice.html"
    ><div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconCatPaw.svg" alt="iconCatPaw" />
      <p>重要通知</p>
    </div></a
  >
</aside>
