<aside class="aside h-100 d-flex flex-column align-items-center">
  <a id="memberData" class="fs-3 my-3" href="member.html">
    <div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconPerson.svg" alt="iconPerson" />
      <p>資料管理</p>
    </div>
  </a>

  <a id="catData" class="fs-3 my-3" href="catData.html">
    <div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconCat.svg" alt="iconCat" />
      <p>我的貓咪</p>
    </div></a
  >

  <a id="bookingHistory" class="fs-3 my-3" href="bookingHistory.html"
    ><div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconHouse.svg" alt="iconHouse" />
      <p>訂房紀錄</p>
    </div></a
  >

  <a id="changePassword" class="fs-3 my-3" href="changePassword.html"
    ><div class="d-flex justify-content-center">
      <img class="me-2" src="../assets/icons/iconLock.svg" alt="iconCatPaw" />
      <p>修改密碼</p>
    </div></a
  >
</aside>
