<footer class="footer d-flex justify-content-center align-items-center">
  <main class="d-inline-flex flex-column align-items-center">
    <a href="index.html"
      ><img
        class="logoVertical"
        src="../assets/icons/LogoVertical.svg"
        alt="LogoVertical"
    /></a>

    <br />
    <h6>106 台北市大安區信義路三段 75 號 1 號 2 樓</h6>
    <h6>02-2707-8877</h6>

    <div class="icons">
      <a href="https://www.facebook.com/?locale=zh_TW"
        ><img
          class="icon"
          src="../assets/icons/iconFacebook.svg"
          alt="LogoVertical"
      /></a>
      <a href="https://www.instagram.com/"
        ><img
          class="icon"
          src="../assets/icons/iconInstagram.svg"
          alt="LogoVertical"
      /></a>
    </div>
  </main>
</footer>
