<header class="header navbar navbar-expand-lg p-0">
  <div class="navBar container p-0">
    <a class="navbar-brand mx-5 my-3" href="../pages/index.html"
      ><img src="../assets/icons/LogoHorizontal.svg" alt="Logo"
    /></a>

    <!-- 汉堡菜单按钮 -->
    <button
      class="navbar-toggler mx-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item mx-3 my-3">
          <a id="aboutus" class="nav-link p-0" href="../pages/aboutus.html"
            >關於我們</a
          >
        </li>
        <li class="nav-item mx-3 my-3 roooms">
          <a id="roooms" class="nav-link p-0" href="../pages/roooms.html"
            >旅館介紹</a
          >
        </li>
        <li class="nav-item mx-3 my-3 booking">
          <a id="booking" class="nav-link p-0" href="../pages/booking.html"
            >線上訂房</a
          >
        </li>
        <li class="nav-item mx-3 my-3 article">
          <a id="article" class="nav-link p-0" href="../pages/article.html"
            >文章總覽</a
          >
        </li>
        <li
          id="memberBtn"
          class="nav-item mx-3 my-3 primaryStrokeToFill-btn-primary"
        >
          <a
            id="memberFunction"
            class="nav-link p-0"
            href="../pages/member.html"
          >
            <i class="bi bi-person"></i>會員功能
          </a>
        </li>
      <aside
        class="navAside w-100 d-flex flex-column align-items-center d-lg-none"
      >
        <a
          id="navMemberData"
          class="memberData mx-5 my-3 d-lg-none"
          href="../pages/member.html"
          >資料管理</a
        >
        <a
          id="navCatData"
          class="catData mx-5 my-3 d-lg-none"
          href="../pages/catData.html"
          >我的貓咪</a
        >
        <a
          id="navBookingHistory"
          class="bookingHistory mx-5 my-3 d-lg-none"
          href="../pages/bookingHistory.html"
          >訂房紀錄</a
        >
      </aside>
    </div>
  </div>
</header>
