<header class="d-flex justify-content-between p-5">
  <div>
    <a href="../pages/index.html">首頁LOGO</a>
  </div>
  <nav>
    <ul class="d-flex">
      <li>
        <a href="../pages/aboutus.html">關於我們</a>
      </li>
      <li class="ms-3">
        <a href="../pages/roooms.html">旅館介紹</a>
      </li>
      <li class="ms-3">
        <a href="../pages/booking.html">線上訂房</a>
      </li>
      <li class="ms-3">
        <a href="../pages/article.html">文章總攬</a>
      </li>

      <li class="ms-3">
        <a id="memberData" class="memberData" href="../pages/member.html"
          >資料管理</a
        >
      </li>
      <li class="ms-3">
        <a id="catData" class="catData" href="../pages/cat.html">我的貓咪</a>
      </li>
    </ul>
  </nav>
</header>
<h1>我是header</h1>
