<header class="header navbar navbar-expand-lg p-0">
  <div class="navBar container p-0">
    <a class="navbar-brand mx-5 my-3" href="index.html"
      ><img src="../assets/icons/LogoHorizontal.svg" alt="Logo"
    /></a>

    <!-- 汉堡菜单按钮 -->
    <button
      class="navbar-toggler mx-3"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item mx-3 my-3">
          <a id="aboutusNav" class="nav-link p-0" href="aboutus.html"
            >關於我們</a
          >
        </li>
        <li class="nav-item mx-3 my-3 roooms">
          <a id="roomsNav" class="nav-link p-0" href="roooms.html"
            >旅館介紹</a
          >
        </li>
        <li class="nav-item mx-3 my-3 booking">
          <a id="bookingNav" class="nav-link p-0" href="booking.html"
            >線上訂房</a
          >
        </li>
        <li class="nav-item mx-3 my-3 article">
          <a id="articleNav" class="nav-link p-0" href="article.html"
            >文章總覽</a
          >
        </li>
        <li
          id="memberBtn"
          class="nav-item mx-3 my-3 primaryStrokeToFill-btn-primary"
        >
          <a
            id="memberFunction"
            class="nav-link p-0"
            href="member.html"
          >
            <i class="bi bi-person"></i>會員功能
          </a>
        </li>
        
        <li id="navAside" class="nav-item mx-3 my-3 burgerAside d-lg-none d-block d-none"><%- include('./aside.ejs'); -%></li>

    </div>
  </div>
</header>
