@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/variables";
@import "./utils/generic";
@import "./utils/mixin";

@import "./layout/admin_header";
@import "./layout/header";
@import "./layout/aside";
@import "./layout/footer";

@import "./pages/index.scss";
@import "./pages/aboutus.scss";
@import "./pages/article.scss";
@import "./pages/booking.scss";
@import "./pages/member.scss";
@import "./pages/rooms.scss";
@import "./pages/signup";

// flatpickr 套件使用 CSS
@import "../../node_modules/flatpickr/dist/flatpickr.min.css";

@import "../../node_modules/bootstrap";

// * {
//   border: solid 1px;
// }
