.header {
  background-color: $white;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 10;
  a {
    color: $text;
    &:hover {
      color: $primary;
    }
  }
  .memberBtn {
    border: solid 2px $primary;
    border-radius: 1rem;
    padding: 0.2rem 0.7rem;
    a {
      color: $primary;
    }
    &:hover {
      background-color: $white;
    }
  }

  .navAside {
    background-color: $gray-500;
  }
}
