.header {
  background-color: $white;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.05);
  z-index: 10;
  a {
    color: $text;
    &:hover {
      color: $primary;
    }
  }

  .navAside {
    background-color: $gray-500;
  }

  .burgerAside {
    min-width: 16rem;
  }
}
