body {
  background-color: $background;
}

.sectionBlock {
  width: 100%;
  overflow: hidden;
}

.dogPaw {
  width: 44px;
  height: 44px;
}

.dogPaw-sm {
  width: 29px;
  height: 29px;
}

.contentArea {
  min-height: 800px;
  .text {
    p {
      line-height: 2rem;
    }
    &.type01 {
      max-width: 416px;
    }
    &.type02 {
      max-width: 520px;
    }
  }

  .photo {
    width: 100%;
    .personPhoto {
      z-index: 2;
      &.rotateLeft {
        transform: rotate(-5deg);
      }
      &.rotateRight {
        transform: rotate(5deg);
      }
    }
  }

  .catLeg01 {
    z-index: 3;
    height: 450px;

    transform: translate(350px, 300px) rotate(-5deg);
  }
  .catTail {
    height: 300px;
    transform: translate(-110px, 0px) rotate(-5deg);
  }
  .catEar {
    &.catEar01 {
      transform: translate(80px, -320px) rotate(5deg);
    }
    &.catEar02 {
      transform: translate(300px, -300px) rotate(5deg);
    }
  }
}

.roomPhoto {
  z-index: 10;
}

@media screen and (max-width: 992px) {
  .contentArea {
    min-height: 375px;
    .photo {
      h2 {
        font-size: 20px;
      }
    }

    .catLeg01 {
      height: 420px;
      transform: translate(-150px, 300px) rotate(-5deg);
    }

    .catTail {
      height: 100px;
      transform: translate(-200px, 200px) rotate(-5deg);
    }
  }
}

@media screen and (max-width: 576px) {
  .contentArea {
    .photo {
      h2 {
        font-size: 16px;
      }
      .founderPhoto {
        max-height: 350px;
        max-width: 350px;
      }
    }
    .catLeg01 {
      right: 310px;
      height: 380px;
      transform: translate(300px, 270px) rotate(-5deg);
    }
    .catTail {
      height: 80px;
      transform: translate(-150px, 150px) rotate(-5deg);
    }
  }
}

@media screen and (max-width: 370px) {
  .contentArea {
    .photo {
      .founderPhoto {
        max-height: 280px;
        max-width: 280px;
      }
    }
    .catLeg01 {
      right: 310px;
      height: 300px;
      transform: translate(340px, 200px) rotate(-5deg);
    }
  }
}
