.adminBreadcrumb {
    padding-top: 32px;
    padding-bottom: 32px;
}

.adminBooking_content {
    padding: 32px;
    margin-bottom: 40px;
}

.adminBooingTitle {
    margin-bottom: 24px;
}

.adminBookingBLock{
    padding-top: 32px;
    padding-bottom: 32px;
    margin-bottom: 40px;
}

.adminBookingH2{
    margin-bottom: 16px;
}