.memeberEditWrap {
  input {
    width: 100%;
    @include media-min-992 {
      width: 70%;
    }
  }
}

.savaAccountModal {
  .modal-content {
    height: 40vh;
  }
  .checkCircle {
    font-size: 72px;
    line-height: 1;
    @include media-min-992 {
      font-size: 90px;
    }
  }
}
