.catBarInfo {
  position: relative;
  padding: 1rem;
  .catsQuantity {
    margin-left: 2rem;
  }
  .bookingId {
    margin-left: 2.3rem;
  }
  .price {
    margin-left: 3rem;
  }
  .orderBtns {
    position: absolute;
    bottom: 1rem;
    right: 5rem;
  }
}
@media screen and (max-width: 768px) {
  .catBarInfo {
    .price {
      margin-left: 0rem;
    }
    .catBarInfo {
      .orderBtns {
        position: static;
        margin: 0.5rem 0;
        padding: 0 1rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .catBarContainer {
    width: 245px;
  }
  .catBarInfo {
    .orderBtns {
      position: static;
      margin: 0.5rem 0;
      padding: 0 1rem;
    }
  }
}
