.loginContent {
  height: 100vh;
}

.loginForm {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  .input {
    border: none;
    height: 50px;
    box-shadow: 0 3px 0 $gray-400;
  }
  .loginBtns {
    width: 100%;
    margin: 1rem;
    .loginBtn {
      min-width: 7rem;
    }
  }
}
