.introduce_text {
  max-height: 550px;
  .title {
    height: 100%;
  }
  .rooms_dogPaw {
    width: 44px;
    height: 44px;
    &.dogPaw_right {
      transform: rotate(45deg);
    }
  }
  .text {
    max-width: 855px;
    padding: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }

  .catContainer {
    .catImg {
      top: 70px;
      transition: 0.3s ease-in-out;
      .cat {
        width: 210px;
        .face {
          left: 50%;
          transform: translateX(-50%);
          top: 50px;
          &.closeEye {
            top: 70px;
          }
        }
      }
      &:hover {
        top: 0;
      }
    }
  }
}
