// * {
//   border: solid 1px;
// }

.introduce_text {
  min-height: 550px;
  .title {
    height: 100%;
  }
  .rooms_dogPaw {
    width: 44px;
    height: 44px;
    &.dogPaw_right {
      transform: rotate(45deg);
    }
  }
  .text {
    max-width: 855px;
    padding: 1rem;
    line-height: 2rem;
    letter-spacing: 1px;
  }

  .catContainer {
    height: 220px;
    .catImg {
      top: 70px;
      transition: 0.3s ease-in-out;
      .cat {
        width: 250px;
        .face {
          left: 50%;
          transform: translateX(-50%);
          top: 50px;
          &.closeEye {
            top: 70px;
          }
        }
      }
      &:hover {
        top: 0;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .titleText {
    font-size: 32px;
  }
}

.catVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; /* 這裡使用 cover 來填滿容器 */
  pointer-events: none; /* 禁用 hover 效果 */
}
