<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-關於我們</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <!-- 創辦人區塊 -->
    <section class="sectionBlock sectionBlock-1">
      <!--創辦人的話-->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div
              class="contentArea d-flex flex-column justify-content-center align-items-center"
            >
              <div class="text type01">
                <div class="d-inline-flex align-items-center">
                  <img
                    class="img-fluid dogPaw mx-2"
                    src="../assets/icons/dogPaw.svg"
                    alt="dogPaw"
                  />
                  <h1>貓樂天地</h1>
                </div>

                <p class="mt-3">
                  「貓の幸福」源自對貓咪的熱愛，我們以關懷、細心呵護每一隻貓，打造一個充滿愛的度假天地。透過舒適的環境、專業的護理，營造家的溫馨，讓貓咪在這裡能快樂遊玩、安心入眠。我們深信，這不僅是一個旅館，更是貓咪們的幸福樂園，期待與您一同分享愛和陪伴。
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div
              class="contentArea d-flex justify-content-center align-items-center"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <div
                  class="photo position-relative d-inline-flex flex-column justify-content-center align-items-center"
                >
                  <img
                    class="img-fluid personPhoto rotateLeft"
                    src="../assets/images/founderPhoto.png"
                    alt="founderPhoto"
                  />
                  <img
                    class="img-fluid position-absolute catLeg catLeg01"
                    src="../assets/images/catLeg01.svg"
                    alt="catLeg"
                  />
                  <div class="w-100 d-flex align-items-center m-3 p-3">
                    <img
                      class="img-fluid dogPaw-sm mx-2"
                      src="../assets/icons/dogPaw.svg"
                      alt="dogPaw"
                    />

                    <h2>創辦人：陳品琦</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- 旅館照片區塊 -->
    <section class="sectionBlock sectionBlock-2">
      <!-- 旅館照片 -->
      <div class="w-100 p-0 mb-5">
        <img
          class="img-fluid roomPhoto d-none d-md-block"
          src="../assets/images/RoomPhoto01.png"
          alt="RoomPhoto01"
        />
        <img
          class="img-fluid roomPhoto d-block d-md-none"
          src="../assets/images/RoomPhoto02.png"
          alt="RoomPhoto02"
        />
      </div>
    </section>

    <!-- 其他人的話區塊 -->
    <section class="sectionBlock sectionBlock-3">
      <!--經理的話-->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 order-lg-1 order-2">
            <div
              class="contentArea position-relative d-flex justify-content-center align-items-center"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <div
                  class="photo position-relative d-inline-flex flex-column justify-content-center align-items-center"
                >
                  <img
                    class="img-fluid position-absolute catTail"
                    src="../assets/images/catTail.svg"
                    alt="catTail"
                  />
                  <img
                    class="img-fluid personPhoto rotateLeft"
                    src="../assets/images/managerPhoto.png"
                    alt="managerPhoto"
                  />
                  <div class="w-100 d-flex align-items-center m-3 p-3">
                    <img
                      class="img-fluid dogPaw-sm mx-2"
                      src="../assets/icons/dogPaw.svg"
                      alt="dogPaw"
                    />

                    <h2>經理：黃家銘</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 order-lg-2 order-1">
            <div
              class="contentArea d-flex flex-column justify-content-center align-items-center"
            >
              <div class="text type02">
                <div class="d-inline-flex align-items-center">
                  <img
                    class="img-fluid dogPaw mx-2"
                    src="../assets/icons/dogPaw.svg"
                    alt="dogPaw"
                  />
                  <h1>愛與專業的結合</h1>
                </div>

                <p class="mt-3">
                  在『貓の幸福』，我們擁抱對貓咪的極致呵護，透過細心環境設計與專業照顧，打造一充滿愛的度假天地。這不僅是旅館，更是我們對貓咪熱愛的真摯體現。每一刻，我們致力提供獨特、舒適的體驗，讓您的貓咪快樂遊玩。期待您與我們共同分享對貓咪的熱情與關懷的美好旅程，一同創造難忘、充滿愛的時光。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--副理的話-->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12">
            <div
              class="contentArea d-flex flex-column justify-content-center align-items-center"
            >
              <div class="text type02">
                <div class="d-inline-flex align-items-center">
                  <img
                    class="img-fluid dogPaw mx-2"
                    src="../assets/icons/dogPaw.svg"
                    alt="dogPaw"
                  />
                  <h1>打造寵物天堂</h1>
                </div>

                <p class="mt-3">
                  我深知每一隻貓咪都是特別的家庭成員。我們不僅提供專業照顧，更著重於打造一個充滿關愛的空間。在這裡，我們注重每位客人的需求，努力創造一個舒適且安心的環境，讓您的貓咪在這裡感受到家的溫暖。期望能與您攜手，共同經營這個充滿愛心的貓咪天堂，讓每位客人都留下美好的回憶。
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12">
            <div
              class="contentArea position-relative d-flex justify-content-center align-items-center"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <div
                  class="photo d-inline-flex flex-column justify-content-center align-items-center"
                >
                  <div class="catEars position-absolute">
                    <img
                      class="img-fluid position-relative catEar01"
                      src="../assets/images/catEar.svg"
                      alt="catEar"
                    />
                    <img
                      class="img-fluid position-relative catEar02"
                      src="../assets/images/catEar.svg"
                      alt="catEar"
                    />
                  </div>
                  <img
                    class="img-fluid personPhoto rotateRight"
                    src="../assets/images/deputyManagerBossPhoto.png"
                    alt="deputyManagerBossPhoto"
                  />
                  <div class="w-100 d-flex align-items-center m-3">
                    <img
                      class="img-fluid dogPaw-sm mx-2"
                      src="../assets/icons/dogPaw.svg"
                      alt="dogPaw"
                    />

                    <h2>副理：童鈺婷</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--店長的話-->
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-12 order-lg-1 order-2">
            <div
              class="contentArea position-relative d-flex justify-content-center align-items-center"
            >
              <div
                class="d-flex flex-column justify-content-center align-items-center"
              >
                <div
                  class="photo position-relative d-inline-flex flex-column justify-content-center align-items-center"
                >
                  <img
                    class="img-fluid position-absolute catLeg catLeg02"
                    src="../assets/images/catLeg02.svg"
                    alt="catLeg"
                  />
                  <img
                    class="img-fluid personPhoto rotateLeft"
                    src="../assets/images/storeManagerPhoto.png"
                    alt="storeManagerPhoto"
                  />
                  <div class="w-100 d-flex align-items-center m-3 p-3">
                    <img
                      class="img-fluid dogPaw-sm mx-2"
                      src="../assets/icons/dogPaw.svg"
                      alt="dogPaw"
                    />

                    <h2>店長：彭依瑜</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-12 order-lg-2 order-1">
            <div
              class="contentArea d-flex flex-column justify-content-center align-items-center"
            >
              <div class="text type02">
                <div class="d-inline-flex align-items-center">
                  <img
                    class="img-fluid dogPaw mx-2"
                    src="../assets/icons/dogPaw.svg"
                    alt="dogPaw"
                  />
                  <h1>締造溫馨寵愛</h1>
                </div>

                <p class="mt-3">
                  在『貓の幸福』，我深信每一隻毛小客人都應該享受到充滿愛與呵護的空間。我們致力提供專業照顧和溫馨的環境，讓貓咪們能快樂遊玩、安心入眠。這是一個寵物天堂，充滿愛和陪伴，期望成為每隻貓咪的第二個家，一同編織屬於牠們的幸福時光。在這片溫馨的空間，我們以心為本，擁抱並創造一個無微不至的愛的環境，讓您的貓咪感受到家的溫暖。
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aboutus.js"></script>
    <script type="module" src="../js/aboutusNavLink.js"></script>
  </body>
</html>
