<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猫の幸せ-後台檢視房型住房比例表</title>
    <link rel="icon" href="../assets/icons/Logo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,700,0,200" />
</head>
<body>
    <%- include('./layout/admin_header'); -%>

    <main class="container mb-15">
        <div class="row">
            <div class="py-8">
                <h2>
                    <a class="link-primary" href="./admin_index.html">後台首頁</a> > <a class="link-primary" href="./admin_booking.html">訂單管理</a> > 檢視房況表
                </h2>
            </div>                
        </div>

    <%- include('./layout/admin_searchBar'); -%>

    <div class="row">
        <div>
            <div class="border border-2 rounded-2">
                <div class="p-6 d-flex justify-content-between align-items-center">
                    <h2 class="text-nowrap">檢視房型住房比例</h2>
                </div>
                <div class="d-flex justify-content-center mb-6 bookingMonthChange">
                    <div class="d-flex align-items-center">
                        <button class="before btn btn-primary d-flex justify-content-center align-items-center">
                            <span class="material-symbols-outlined text-dark">
                                chevron_left
                            </span>
                        </button>
                    </div>
                    <h2 class="date mx-8 bookingMonth"></h2>
                    <div class="d-flex align-items-center me-6">
                        <button class="after btn btn-primary d-flex justify-content-center align-items-center">
                            <span class="material-symbols-outlined text-dark">
                                chevron_right
                            </span>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 mb-8 overflow-auto">
                        <div id="chart1"></div>
                    </div>
                    <div class="col-6 mb-8 overflow-auto">
                        <div id="chart2"></div>
                    </div>
                    <div class="col-6 mb-8 overflow-auto">
                        <div id="chart3"></div>
                    </div>
                    <div class="col-6 mb-8 overflow-auto">
                        <div id="chart4"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        
    </main>
    <script type="module" src="../js/admin_bookingTables.js"></script>
    <script type="module" src="../main.js"></script>
</body>
</html>