<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猫の幸せ-後台訂單搜尋結果列表</title>
    <link rel="icon" href="../assets/icons/Logo.svg">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,700,0,200" />
</head>

<body>
    <%- include('./layout/admin_header'); -%>

    <main class="container mb-15">
        <div class="row">
            <div class=" py-8">
                <h2>
                    <a class="text-primary" href="./admin_index.html">後台首頁</a> > <a class="text-primary" href="./admin_booking.html">訂單管理</a> > 查詢結果列表
                </h2>
            </div>
        </div>

        <%- include('./layout/admin_searchBar'); -%>

        <div class="row">
            <div>
                <div class="border border-2 rounded-2 d-flex flex-column justify-content-between">
                    <div class="overflow-auto p-8 ">
                        <div class="mb-8 text-center">
                            
                            <h2 class="searchContent">住房日期 <span class="text-primary startDate"></span> 到 <span class="text-primary endDate"></span> 的搜尋結果</h2>
                            
                        </div>
                        <table
                            class="table table-success table-bordered border border-dark table-hover table-responsive">
                            <thead>
                                <tr>
                                    <th class="text-nowrap text-center" scope="col">訂單編號</th>
                                    <th class="text-nowrap text-center" scope="col">會員姓名</th>
                                    <th class="text-nowrap text-center" scope="col">入住日期</th>
                                    <th class="text-nowrap text-center" scope="col">入住天數</th>
                                    <th class="text-nowrap text-center" scope="col">預定房型</th>
                                    <th class="text-nowrap text-center" scope="col">訂單狀態</th>
                                    <th class="text-nowrap text-center" scope="col">訂單總額</th>
                                    <th class="text-nowrap text-start" scope="col">備註</th>
                                </tr>
                            </thead>
                            <tbody class="tbody">

                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example" class="mb-12">
                        <ul class="getPages pagination justify-content-center d-flex">

                        </ul>
                    </nav>                            
                </div>
            </div>
        </div>
    </main>
    <script type="module" src="../js/admin_bookingSearch.js"></script>
    <script type="module" src="../main.js"></script>
</body>

</html>