<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>猫の幸せ-後台訂單功能頁</title>
    <link rel="icon" href="../assets/icons/Logo.svg">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,700,0,200" />
</head>

<body>
    <%- include('./layout/admin_header'); -%>

        <main class="container mb-15">
            <div class="row">
                <div class="py-8">
                    <h2>
                        <a class="text-primary" href="./admin_index.html">後台首頁</a> > 訂單管理
                    </h2>
                </div>
            </div>

            <%- include('./layout/admin_searchBar'); -%>

                <div class="row">
                    <div>

                        <div class="border border-2 rounded-2">
                            <h2 class="adminBooingTitle p-8">訂單總覽</h2>
                            <div class="d-flex justify-content-center mb-8">
                                <div class="d-flex align-items-center">
                                    <button
                                        class="before btn btn-primary d-flex justify-content-center align-items-center">
                                        <span class="material-symbols-outlined text-dark">
                                            chevron_left
                                        </span>
                                    </button>
                                </div>
                                <h2 class="date mx-8"></h2>
                                <div class="d-flex align-items-center">
                                    <button
                                        class="after btn btn-primary d-flex justify-content-center align-items-center">
                                        <span class="material-symbols-outlined text-dark">
                                            chevron_right
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 p-8 mb-8 border-end border-5">
                                    <h2 class="text-center fs-4 mb-6">本月訂單共 <span class="thisMonth fs-2 fw-bold"></span>
                                        筆</h2>
                                    <div class="d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-primary border border-1 border-primary bookingList">查看當月訂單</button>
                                    </div>
                                </div>
                                <div class="col-4 p-8 mb-8 border-end border-5">
                                    <h2 class="text-center fs-4 mb-6">本月住房率為 <span
                                            class="bookingRate fs-2 fw-bold"></span> %</h2>
                                    <div class="d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-primary border border-1 border-primary checkBookingTable">查看本月房況表</button>
                                    </div>
                                </div>
                                <div class="col-4 p-8 mb-8 ">
                                    <h2 class="text-center fs-4 mb-6">本月已結帳總額為 <span
                                            class="revenue fs-2 fw-bold"></span> 元</h2>
                                    <div class="d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-primary border border-1 border-primary bookingTables">檢視房型住房比例</button>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4 p-8 mb-8 border-end border-5">
                                    <h2 class="text-center fs-4 mb-6 ">今日新進訂單共 <span
                                            class="newBooking fs-2 fw-bold"></span> 筆</h2>
                                    <div class="d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-primary border border-1 border-primary btnNewBooking">查看今日新進訂單</button>
                                    </div>
                                </div>
                                <div class="col-4 p-8 mb-8 border-end border-5">
                                    <h2 class="text-center fs-4 mb-6">今日入住訂單共 <span
                                            class="todayCheckIn fs-2 fw-bold"></span> 筆</h2>
                                    <div class="d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-primary border border-1 border-primary btnTodayCheckIn">查看今日入住訂單</button>
                                    </div>
                                </div>
                                <div class="col-4 p-8 mb-8">
                                    <h2 class="text-center fs-4 mb-6">今日退房訂單共 <span
                                            class="todayCheckOut fs-2 fw-bold"></span> 筆</h2>
                                    <div class="d-flex justify-content-center">
                                        <button
                                            class="btn btn-outline-primary border border-1 border-primary btnTodayCheckOut">查看今日退房訂單</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
        <script type="module" src="../js/admin_booking.js"></script>
        <script type="module" src="../main.js"></script>
</body>

</html>