<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-FAQ</title>
    <link rel="icon" href="../assets/icons/Logo.svg">
  </head>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0"
  />
  <body>
    <%- include('./layout/header'); -%>

    <div class="container" style="padding-bottom: 180px">
      <div class="row">
        <div class="col-lg-2 col-12">
          <section>
            <ul
              style="padding-top: 50px"
              class="d-flex d-lg-block flex-wrap flex-lg-wrap justify-content-start"
            >
              <li class="py-2 pe-2">
                <a href="article.html" class="d-flex align-item-center"
                  ><span class="material-symbols-outlined me-2">
                    contact_support
                  </span>
                  <p class="articleTag" style="color: #fa863e">常見問題</p></a
                >
              </li>

              <li class="py-2 pe-2">
                <a href="catArticle.html" class="d-flex align-item-center"
                  ><span class="material-symbols-outlined me-2"> info </span>
                  <p class="articleTag">貓咪文章</p></a
                >
              </li>

              <li class="py-2 pe-2">
                <a href="customerFeedback.html" class="d-flex align-item-center"
                  ><span class="material-symbols-outlined me-2">
                    thumb_up
                  </span>
                  <p class="articleTag">顧客回饋</p></a
                >
              </li>

              <!-- <li class="py-2">
                <a href="catNews.html" class="d-flex align-item-center"><span class="material-symbols-outlined me-2">
                favorite
                </span>喵新聞</a>
              </li>

              <li class="py-2">
                <a href="customerFeedback.html" class="d-flex align-item-center"><span class="material-symbols-outlined me-2">
                reviews
                </span>顧客反饋</a>
              </li> -->
            </ul>
          </section>
        </div>
        <div class="col-lg-10 col-12" style="padding-top: 50px">
          <div
            class="d-flex justify-content-center justify-content-lg-start"
            style="padding-bottom: 24px"
          >
            <div class="text type01 d-lg-flex align-items-center">
              <div class="d-inline-flex align-items-center">
                <!-- <img class="img-fluid dogPaw mx-2" src="../assets/icons/dogPaw.svg" alt="dogPaw"> -->
                <h1 class="d-none d-lg-block">常見問題</h1>
                <h2 class="d-lg-none">常見問題</h2>
              </div>
            </div>
          </div>

          <!-- 文章區域 -->

          <ul
            class="articleList col-lg-10 col-12 accordion"
            style="padding-bottom: 50px"  id="accordionExample">


        
        </ul>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/article.js"></script>
    <script type="module" src="../js/articleNavLink.js"></script>
  </body>
</html>
