<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-選擇房型與日期 精緻房</title>
  </head>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />

  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div
        class="d-flex flex-start justify-content-lg-between flex-wrap"
        style="margin-bottom: 50px; margin-top: 50px"
      >
        <div class="text type01 d-lg-flex align-items-center">
          <div class="d-inline-flex align-items-center">
            <img
              class="img-fluid dogPaw mx-2"
              src="../assets/icons/dogPaw.svg"
              alt="dogPaw"
            />
            <h1 class="d-none d-lg-block">線上訂房</h1>
            <h2 class="d-lg-none">線上訂房</h2>
          </div>
        </div>
      </div>

      <div class="row d-flex justify-content-lg-center justify-content-start">
        <div class="col-lg-10 col-6">
          <ul
            class="d-flex flex-lg-row flex-column flex-lg-nowrap justify-content-lg-center align-items-start"
          >
            <li class="text-primary d-flex">
              <span class="material-symbols-outlined checked me-2">
                check_circle
              </span>
              <p>選擇房型與日期</p>
              <span class="material-symbols-outlined mx-5 d-none d-lg-block">
                chevron_right
              </span>
            </li>

            <li class="text-primary d-flex">
              <span
                class="material-symbols-outlined me-2"
                style="color: #e2c6c4"
              >
                check_circle
              </span>
              <p>填寫入住貓咪資訊</p>
              <span
                class="material-symbols-outlined mx-5 d-none d-lg-block"
                style="color: #e2c6c4"
              >
                chevron_right
              </span>
            </li>

            <li class="text-primary d-flex">
              <span
                class="material-symbols-outlined me-2"
                style="color: #e2c6c4"
              >
                check_circle
              </span>
              <p>確認您的訂單</p>
            </li>
          </ul>
        </div>
      </div>

      <div
        class="row d-flex mt-lg-5 justify-content-center"
        style="padding-bottom: 50px"
      >
        <div class="col-lg-10 col-12">
          <div
            class="d-flex flex-lg-row flex-column justify-content-lg-between align-items-start align-items-lg-center align-items-start"
          >
            <h5 class="my-3">您選擇的是精緻房</h5>

            <form
              action=""
              id="dateForm"
              class="d-flex flex-column flex-lg-row"
            >
              <div
                class="d-flex me-lg-5 border border-primary rounded-3 px-1 bg-transparent py-1 mb-3 mb-lg-0 w-75"
              >
                <span
                  class="material-symbols-outlined"
                  style="color: #fa863e; font-size: 24px"
                >
                  date_range
                </span>
                <input
                  id="checkinDate"
                  value=""
                  min=""
                  max=""
                  placeholder="請填寫入住日期"
                  class="checkedDate"
                />
              </div>

              <div
                class="d-flex border border-primary rounded-3 px-1 bg-transparent py-1 mb-3 mb-lg-0 w-75"
              >
                <span
                  class="material-symbols-outlined"
                  style="color: #fa863e; font-size: 24px"
                >
                  date_range
                </span>
                <input
                  id="checkoutDate"
                  value=""
                  min=""
                  max=""
                  placeholder="請填寫退房日期"
                  class="checkedDate"
                />
              </div>
            </form>

            <div
              class="col-6 col-lg-2 d-flex justify-content-lg-center justify-content-start"
            >
              <button
                type="button"
                class="bookNowBtn btn btn-outline-primary border border-primary d-lg-block fs-6 rounded-pill"
              >
                <a href="./bookingProcess_2.html" class="toProcess_2"
                  ><p class="px-4">下一步</p></a
                >
              </button>
            </div>
          </div>

          <div class="d-flex justify-content-center">
            <div id="calendar" class="w-100 mt-5 calendar"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- <p>您選擇的是精緻房</p>

    
      <form action="" id="dateForm">
      CHECK IN
        <input type="date" id="checkinDate" value="" min="2023-12-10" max="2023-12-31">

      CHECK OUT
      <input type="date" id="checkoutDate" value="" min="2023-12-10" max="2023-12-31">

      </form>

      <button class="toProcess_2"> <a href="./bookingProcess_2.html">下一步</a></button>
      

      <div id='calendar' class="w-75"></div> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/bookingDelicateProcess_1.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/bookingNavLink.js"></script>
  </body>
</html>
