<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>經典房</title>
  </head>
  
  <body>
    <%- include('./layout/header'); -%>
    <h1>經典房</h1>
    <h5>尺寸：寬 155cm * 深 145cm * 高 300cm</h5>
    <h5>設備：</h5>
    <ul class="">

    </ul>

    <Ul>

    </Ul>

    
    <button><a href="bookingProcess_1.html" class="bookingNow">立即訂房</a></button>
   

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/booking.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/aside.js"></script>
  </body>
</html>
