<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>精緻房</title>
  </head>
 
  <body>
    <%- include('./layout/header'); -%>
    <h1>精緻房</h1>
    <h5 class="delicateRoomDimension"></h5>
    <h5>設備：</h5>
    <ul class="delicateRoomFacility">
    </ul>

    <ul>
      <li>貓貴賓上限: <span class="delicateRoomCatNum"></span></li>
      <li>陽光玩耍時間：最低15分鐘</li>
      <li>價格: <span class="delicateRoomPrice"></span></li>
      <li>超時費:150元 / 1hr</li>
      <li>加貓費:300元 / 1貓</li>
    </ul>

    <button><a href="bookingDelicateProcess_1.html" class="bookingNow">立即訂房</a></button>
   

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/booking.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/aside.js"></script>
  </body>
</html>
