<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-訂房紀錄</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-3 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-9">
          <!-- 呈現載入提示畫面 -->
          <div
            id="loading"
            class="loading w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img src="../assets/icons/catLoading.gif" alt="catLoading" />
          </div>

          <div id="title" class="p-5 d-flex">
            <h1>訂房紀錄</h1>
          </div>

          <!-- <h1>以下是切版測試</h1>
          <div
            class="bookingInfo d-flex justify-content-center align-items-center"
          >
            <div class="catBarContainer">
              <div class="catEars">
                <div class="catEar">
                  <img src="../assets/images/catEar02.svg" alt="catEar02" />
                </div>
                <div class="catEar">
                  <img src="../assets/images/catEar02.svg" alt="catEar02" />
                </div>
              </div>
              <div class="catBarBorder mx-3">
                <div class="catBarInfo d-flex flex-column">
                  <div class="justify-content-center align-items-center">
                    <div class="d-flex flex-sm-row flex-column mb-5">
                      <h3 id="checkIn_${index}" class="d-inline-block">
                        ${checkIn}
                      </h3>
                      <div class="d-flex justify-content-center mx-3">
                        <img
                          class="img-fluid d-sm-block d-none"
                          src="../assets/icons/arrow.svg"
                          alt="arrow"
                        />
                        <img
                          class="img-fluid d-sm-none d-block"
                          src="../assets/icons/arrowDown.svg"
                          alt="arrow"
                        />
                      </div>

                      <h3 id="checkOut_${index}" class="d-inline-block">
                        ${checkOut}
                      </h3>
                    </div>
                    <div class="d-flex flex-sm-row flex-column">
                      <div class="d-flex flex-column">
                        <div class="d-flex">
                          <h3 id="roomType_${index}" class="roomType">
                            ${name}
                          </h3>

                          <h4
                            id="catsQuantity_${index}"
                            class="mt-1 catsQuantity"
                          >
                            ${quantity}隻貓
                          </h4>
                        </div>
                        <div class="d-flex">
                          <h5 class="text-center">訂單編號</h5>
                          <h5
                            id="bookingId_${index}"
                            class="text-center bookingId"
                          >
                            ${id}
                          </h5>
                        </div>
                        <div class="d-flex">
                          <h6 class="orderDate">下單日期</h6>
                          <h6
                            id="bookingId_${index}"
                            class="orderDate bookingId"
                          >
                            ${bookingDate}
                          </h6>
                        </div>
                      </div>
                      <div class="d-flex flex-grow-5 ms-sm-5 ms-0">
                        <h1 id="price_${index}" class="price">${price}NT</h1>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="orderBtns">
                  <div id="btntype" class="primaryFill-btn-primary">
                    <button
                      id="cancelBooking_${index}"
                      data-catId="${id}"
                      class="orderBtn"
                    >
                      取消訂單
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h1>以上是切版測試</h1> -->
          <!--input 按鈕自製模組-->
          <div
            id="bookingHistoryFilter"
            class="d-flex justify-content-md-end justify-content-center"
          >
            <div class="catRoomInputContainer position-relative">
              <div
                id="catRoomInput_bookingHistoryFilter"
                class="catRoomInput bookingHistoryFilter"
              >
                <div class="inputBar">
                  <p class="fs-7 m-0">篩選</p>
                  <div
                    id="roomType"
                    data-value="已預訂"
                    class="position-relative"
                  >
                    <p>已預訂</p>
                  </div>
                </div>

                <img
                  class="icon"
                  src="../assets/icons/iconArrowDown.svg"
                  alt="date_icon"
                />
              </div>
              <div
                id="selectType"
                class="selectType d-flex flex-column position-absolute w-100"
              >
                <button value="已預訂" class="optionType room">已預訂</button>
                <button value="已完成" class="optionType room">已完成</button>
                <button value="已取消" class="optionType optionLast room">
                  已取消
                </button>
              </div>
            </div>
          </div>

          <div
            id="bookingInfo"
            class="bookingInfo d-flex flex-column justify-content-center align-items-center"
          ></div>
        </div>
      </div>
    </div>
    <!-- <h3 id="checkIn" class="checkDate">2023-12-10</h3>
          <h3>→</h3>
          <h3 id="checkOut" class="checkDate">2023-12-12</h3>
          <h3 id="roomType" class="roomType">精緻房</h3>
          <h5 id="bookingId" class="bookingId">訂單編號 401</h5>
          <h1 id="price" class="price">1600</h1>
          <h5 id="bookingDate" class="bookingDate">下單日期 2023-11-15</h5>
          <a id="editBooking" class="editBooking" href="./editBooking.html"
            >修改訂單</a
          >
          <button id="cancelBooking" class="cancelBooking">取消訂單</button> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/bookingHistory.js"></script>
  </body>
</html>
