<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js'></script>

  <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
  

  <body>
    <%- include('./layout/header'); -%>
    <h1>線上訂房</h1>

    <ul class="d-flex">
        <li class="text-primary">選擇房型與日期=></li>
        <li>入住貓咪資訊=></li>
        <li>確認訂單</li>
    </ul>

    <p>您選擇的是經典房</p>

    
      <form action="" id="dateForm">
      CHECK IN
        <input type="date" id="checkinDate" value="" min="2023-12-10" max="2023-12-31">

      CHECK OUT
      <input type="date" id="checkoutDate" value="" min="2023-12-10" max="2023-12-31">

      </form>

      <button class="toProcess_2"> <a href="./bookingProcess_2.html">下一步</a></button>
      

      <div id='calendar' class="w-75"></div>

    
    
   

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/bookingClassicProcess_1"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/aside.js"></script>
  </body>
</html>