<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-我的貓咪</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-3 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-9">
          <!-- 呈現載入提示畫面 -->
          <div
            id="loading"
            class="loading w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img src="../assets/icons/catLoading.gif" alt="catLoading" />
          </div>

          <div id="catInfo" class="d-flex flex-column"></div>
          <!-- <div id="catContainer_" class="catContainer_">
            <h1 id="catName" class="catName"></h1>
            <ul>
              <li id="catGender" class="catGender"></li>
              <li id="catBirthday" class="catBirthday"></li>
              <li id="catBreeds" class="catBreeds"></li>
              <li id="catColors" class="catColors"></li>
              <li id="catWeight" class="catWeight"></li>
            </ul>
            <img id="catPhoto" src="" alt="貓咪照片" />
            <br />
            <button id="catEdit" class="catEdit">編輯資料</button>
            <button id="catDelete" class="catDelete">刪除資料</button>
          </div> -->
          <div class="d-flex justify-content-center align-items-center">
            <div class="catAddBtns menberBtn primaryFill-btn-primary">
              <a id="catAdd" class="catAddBtn" href="./catAdd.html">新增貓咪</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/catData.js"></script>
  </body>
</html>
