<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-修改密碼</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-3 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-9">
          <!-- 呈現載入提示畫面 -->
          <div
            id="loading"
            class="loading w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img src="../assets/icons/catLoading.gif" alt="catLoading" />
          </div>

          <div id="changePasswordContainer" class="changePasswordContainer">
            <form
              id="changePasswordForm"
              class="changePasswordForm position-relative mt-5"
              method="GET"
            >
              <div class="d-flex flex-column justify-content-center">
                <h1>修改密碼</h1>
              </div>
              <input
                id="oldPassword"
                class="input form-control my-3"
                type="password"
                placeholder="請輸入舊密碼"
                required
              />

              <input
                id="newPassword"
                class="input form-control my-3"
                type="password"
                placeholder="請輸入新密碼"
                required
              />

              <input
                id="checkNewPassword"
                class="input form-control my-3"
                type="password"
                placeholder="請確認新密碼"
                required
              />
              <div
                class="d-flex flex-column justify-content-center align-items-start"
              >
                <p>請牢記您的新密碼，並確保妥善保存。</p>
                <p>請勿分享密碼給任何人，以確保您賬戶的安全性。</p>
              </div>

              <div class="changePasswordBtns d-flex justify-content-around">
                <div class="primaryFill-btn-primary">
                  <button
                    id="changePasswordBtn"
                    type="submit"
                    class="changePasswordBtn h4"
                  >
                    修改密碼
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/changePassword.js"></script>
  </body>
</html>
