<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-修改訂單</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-2 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-10">
          <h1>這是修改訂單頁面</h1>
        </div>
      </div>

    

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
  </body>
</html>
