<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-fluid p-0">
      <div class="row min-vh-100">
        <div class="col-2 p-0"><%- include('./layout/aside'); -%></div>
        <div class="col-10">
          <h1>編輯個人資料</h1>
          <form id="editMemberFrom" class="editMemberFrom" method="GET">
            <label for="name">姓名：</label>
            <input
              id="name"
              class="name"
              type="text"
              name="name"
              placeholder="請輸入姓名"
              value=""
              required
            />
            <br />
            <label>性別：</label>
            <input id="male" type="radio" name="gender" value="male" required />
            <label for="male">男</label>
            <input
              id="female"
              type="radio"
              name="gender"
              value="female"
              required
            />
            <label for="female">女</label>
            <input
              id="other"
              type="radio"
              name="gender"
              value="other"
              required
            />
            <label for="other">其他</label>
            <br />
            <label for="birthday">生日：</label>
            <input
              id="birthday"
              type="date"
              placeholder="請輸入生日"
              name="birthday"
              value=""
              required
            />
            <br />
            <label for="phone">電話：</label>
            <input
              id="phone"
              class="phone"
              type="number"
              placeholder="請輸入電話"
              name="phone"
              value=""
              required
            />
            <br />
            <label for="address">地址：</label>
            <input
              id="address"
              class="address"
              type="text"
              placeholder="請輸入地址"
              name="address"
              value=""
              required
            />
            <br />
            <img id="photo" src="" alt="會員照片" />
            <br />
            <input id="myFile" class="myFile" type="file" />
            <br />
            <button id="finishEdit" type="submit" class="finishEdit">
              完成編輯
            </button>
            <a id="cancelEdit" class="cancelEdit" href="./member.html"
              >取消編輯</a
            >
          </form>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/editMember.js"></script>
  </body>
</html>
