<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-貓咪編輯</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-3 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-9">
          <!-- 呈現載入提示畫面 -->
          <div
            id="loading"
            class="loading w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img src="../assets/icons/catLoading.gif" alt="catLoading" />
          </div>

          <div
            id="editCat"
            class="d-flex justify-content-center align-items-center m-5"
          >
            <div
              class="d-inline-flex flex-column justify-content-center align-items-center"
            >
              <form id="editCatFrom" class="editCatFrom" method="GET">
                <h1 class="text-center">編輯貓咪</h1>
                <div id="catPhotoPresent" class="PhotoPresent">
                  <img src="../assets/images/photoFrame.svg" alt="photoFrame" />
                  <div>
                    <img
                      id="catPhoto"
                      src="https://i.imgur.com/slCGtuf.png"
                      alt="貓咪照片"
                    />
                  </div>
                </div>
                <div class="selectImgFile">
                  <label for="myCatFile">上傳照片</label>
                  <input id="myCatFile" type="file" />
                </div>

                <div
                  class="d-flex justify-content-center align-items-center m-1 py-3"
                >
                  <label for="catName">姓名：</label>
                  <input
                    id="catName"
                    class="form-control"
                    type="text"
                    name="name"
                    placeholder="請輸入姓名"
                    required
                  />
                </div>

                <div
                  class="d-flex justify-content-center align-items-center m-1 py-3"
                >
                  <label>性別：</label>
                  <div id="gender" class="form-control my-3 gender">
                    <div>
                      <input
                        id="catMale"
                        class="radio mx-1"
                        type="radio"
                        name="catGender"
                        value="male"
                        required
                      />
                      <label for="catMale">男</label>
                    </div>

                    <div>
                      <input
                        id="catFemale"
                        class="radio mx-1"
                        type="radio"
                        name="catGender"
                        value="female"
                        required
                      />
                      <label for="catFemale">女</label>
                    </div>

                    <div>
                      <input
                        id="catOther"
                        class="radio mx-1"
                        type="radio"
                        name="catGender"
                        value="other"
                        required
                      />
                      <label for="catOther">其他</label>
                    </div>
                  </div>
                </div>

                <div
                  class="d-flex justify-content-center align-items-center m-1 py-3"
                >
                  <label for="catBirthday">生日：</label>
                  <input
                    id="catBirthday"
                    class="form-control"
                    type="text"
                    placeholder="請輸入生日"
                    name="catBirthday"
                    required
                  />
                </div>

                <div
                  class="d-flex justify-content-center align-items-center m-1 py-3"
                >
                  <label for="catBreeds">品種：</label>
                  <input
                    id="catBreeds"
                    class="form-control"
                    type="text"
                    name="phone"
                    placeholder="請輸入品種"
                    required
                  />
                </div>

                <div
                  class="d-flex justify-content-center align-items-center m-1 py-3"
                >
                  <label for="catColors">花色：</label>
                  <input
                    id="catColors"
                    class="form-control"
                    type="text"
                    placeholder="請輸入花色"
                    name="address"
                    required
                  />
                </div>

                <div
                  class="d-flex justify-content-center align-items-center m-1 py-3"
                >
                  <label for="catWeight">體重：</label>
                  <input
                    id="catWeight"
                    class="form-control"
                    type="number"
                    placeholder="請輸入體重"
                    name="weight"
                    step="0.1"
                    required
                  />
                </div>

                <div
                  class="btns d-flex flex-column justify-content-center align-items-center"
                >
                  <div class="primaryStroke-btn-primary m-2">
                    <button id="finishEdit" type="submit" class="finishEdit">
                      完成編輯
                    </button>
                  </div>
                  <div class="primaryFill-btn-primary m-2">
                    <a id="cancelEdit" class="cancelEdit" href="./catData.html"
                      >取消編輯</a
                    >
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/editCat.js"></script>
  </body>
</html>
