<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-顧客評價</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-3 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-9">
          <!-- 呈現載入提示畫面 -->
          <div
            id="loading"
            class="loading w-100 h-100 d-flex justify-content-center align-items-center"
          >
            <img src="../assets/icons/catLoading.gif" alt="catLoading" />
          </div>

          <div id="evaluateBooking">
            <h1>訂單資訊</h1>
            <div class="d-flex flex-wrap">
              <ul class="me-5">
                <li id="checkIn" class="my-3">入住時間：</li>
                <li id="checkOut" class="my-3">退房時間：</li>
                <li id="roomType" class="my-3">入住房型：</li>
              </ul>
              <ul class="me-5">
                <li id="catsQuantity" class="my-3">貓咪數量：</li>
                <li id="price" class="my-3">總金額：</li>
                <li id="bookingId" class="my-3">訂房編號：</li>
              </ul>
            </div>
            <hr />
            <h3>給個星星評價與回饋吧!</h3>
            <br />
            <!-- 星星功能 -->
            <div class="star-rating">
              <button class="star" data-rating="1">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#000"
                  stroke-width="1"
                >
                  <path
                    d="M12 2l1.2 3.6h3.8l-3 2.4 1.2 3.6-3-2.4-3 2.4 1.2-3.6-3-2.4h3.8z"
                  />
                </svg>
              </button>
              <button class="star" data-rating="2">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#000"
                  stroke-width="1"
                >
                  <path
                    d="M12 2l1.2 3.6h3.8l-3 2.4 1.2 3.6-3-2.4-3 2.4 1.2-3.6-3-2.4h3.8z"
                  />
                </svg>
              </button>
              <button class="star" data-rating="3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#000"
                  stroke-width="1"
                >
                  <path
                    d="M12 2l1.2 3.6h3.8l-3 2.4 1.2 3.6-3-2.4-3 2.4 1.2-3.6-3-2.4h3.8z"
                  />
                </svg>
              </button>
              <button class="star" data-rating="4">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#000"
                  stroke-width="1"
                >
                  <path
                    d="M12 2l1.2 3.6h3.8l-3 2.4 1.2 3.6-3-2.4-3 2.4 1.2-3.6-3-2.4h3.8z"
                  />
                </svg>
              </button>
              <button class="star" data-rating="5">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50"
                  height="50"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="#000"
                  stroke-width="1"
                >
                  <path
                    d="M12 2l1.2 3.6h3.8l-3 2.4 1.2 3.6-3-2.4-3 2.4 1.2-3.6-3-2.4h3.8z"
                  />
                </svg>
              </button>
            </div>
            <form
              class="evaluateForm d-flex flex-column justify-content-center align-items-center"
            >
              <textarea
                id="comment"
                cols="30"
                rows="10"
                class="textarea form-control"
                placeholder="歡迎讓老闆知道貓主子這次的入住心得唷~"
              ></textarea>

              <div class="primaryFill-btn-primary m-5 evaluateBtn">
                <button id="evaluateBtn" type="submit" class="evaluateBtn h6">
                  送出評價
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/evaluateBooking.js"></script>
  </body>
</html>
