<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-fluid p-0">
      <div class="row image-container position-relative">
        <img
          src="../assets/images/ImgBanner.png"
          class="imgBanner object-fit-cover"
          alt="indexPhoto"
        />
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <div class="container p-0">
            <div class="row image-text">
              <h1>貓の幸福角落</h1>
              <h2>在城市裡保留一個屬於貓的幸福角落</h2>
            </div>
          </div>
        </div>

        <div class="searchBar position-absolute bottom-0">
          <h2 class="roomBarTitle">快速預約房型</h2>
          <div class="container">
            <div class="row allInputBar">
              <div class="col-lg-3 col-12">
                <!--input 按鈕自製模組-->
                <div id="catRoomInput_checkIn" class="catRoomInput">
                  <div class="inputBar">
                    <p class="fs-7 m-0">入住日期</p>
                    <input
                      id="checkIn"
                      type="text"
                      class="inputText position-relative"
                      placeholder="請輸入日期"
                    />
                  </div>

                  <img
                    class="icon"
                    src="../assets/icons/iconDate.svg"
                    alt="date_icon"
                  />
                </div>
              </div>
              <div class="col-lg-3 col-12">
                <!--input 按鈕自製模組-->
                <div id="catRoomInput_checkOut" class="catRoomInput">
                  <div class="inputBar">
                    <p class="fs-7 m-0">退房日期</p>
                    <input
                      id="checkOut"
                      type="text"
                      class="inputText position-relative"
                      placeholder="請輸入日期"
                    />
                  </div>

                  <img
                    class="icon"
                    src="../assets/icons/iconDate.svg"
                    alt="date_icon"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <!--input 按鈕自製模組-->
                <div id="catRoomInput_roomType" class="catRoomInput">
                  <div class="inputBar">
                    <p class="fs-7 m-0">房型</p>
                    <select id="roomType" class="roomType position-relative">
                      <option disabled selected style="color: #ced4da">
                        請選擇
                      </option>
                      <option value="經典房">經典房</option>
                      <option value="精緻房">精緻房</option>
                      <option value="豪華房">豪華房</option>
                    </select>
                  </div>

                  <img
                    class="icon"
                    src="../assets/icons/iconArrowDown.svg"
                    alt="date_icon"
                  />
                </div>
              </div>
              <div class="col-lg-2 col-12">
                <button type="button" class="searchBarBtn catRoomInput">
                  <p class="fs-5">立即預約</p>
                  <img
                    class="icon"
                    src="../assets/icons/dogPaw.svg"
                    alt="date_icon"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
