<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container-fluid p-0">
      <div class="row image-container position-relative">
        <img
          src="../assets/images/ImgBanner.png"
          class="imgBanner object-fit-cover"
          alt="indexPhoto"
        />
        <div class="position-absolute top-0 start-50 translate-middle-x">
          <div class="container p-0">
            <div class="row image-text">
              <h1>貓の幸福角落</h1>
              <h2>在城市裡保留一個屬於貓的幸福角落</h2>
            </div>
          </div>
        </div>

        <div class="searchBar position-absolute bottom-0">
          <h2 class="roomBarTitle">快速預約房型</h2>
          <div class="container p-0">
            <div class="row allInputBar">
              <div class="col-lg-3 col-12">
                <!--input 按鈕自製模組-->
                <div id="catRoomInput_checkIn" class="catRoomInput">
                  <div class="inputBar">
                    <p class="fs-7 m-0">入住日期</p>
                    <input
                      id="checkIn"
                      type="text"
                      class="inputText position-relative"
                      placeholder="請輸入日期"
                    />
                  </div>

                  <img
                    class="icon"
                    src="../assets/icons/iconDate.svg"
                    alt="date_icon"
                  />
                </div>
              </div>
              <div class="col-lg-3 col-12">
                <!--input 按鈕自製模組-->
                <div id="catRoomInput_checkOut" class="catRoomInput">
                  <div class="inputBar">
                    <p class="fs-7 m-0">退房日期</p>
                    <input
                      id="checkOut"
                      type="text"
                      class="inputText position-relative"
                      placeholder="請輸入日期"
                    />
                  </div>

                  <img
                    class="icon"
                    src="../assets/icons/iconDate.svg"
                    alt="date_icon"
                  />
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <!--input 按鈕自製模組-->
                <div id="catRoomInput_roomType" class="catRoomInput">
                  <div class="inputBar">
                    <p class="fs-7 m-0">房型</p>
                    <select id="roomType" class="roomType position-relative">
                      <option disabled selected style="color: #ced4da">
                        請選擇
                      </option>
                      <option value="經典房">經典房</option>
                      <option value="精緻房">精緻房</option>
                      <option value="豪華房">豪華房</option>
                    </select>
                  </div>

                  <img
                    class="icon"
                    src="../assets/icons/iconArrowDown.svg"
                    alt="date_icon"
                  />
                </div>
              </div>
              <div class="col-lg-2 col-12">
                <button type="button" class="searchBarBtn catRoomInput">
                  <p class="fs-5">立即預約</p>
                  <img
                    class="icon"
                    src="../assets/icons/dogPaw.svg"
                    alt="date_icon"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-4 col-12 catRoom position-relative">
          <div class="roomImgText position-absolute bottom-0">
            <h3 class="text">精緻房</h3>
          </div>
          <img src="../assets/images/catRoom_Delicate.png" alt="delicate" />
        </div>
        <div class="col-lg-4 col-12 catRoom position-relative">
          <div class="roomImgText position-absolute bottom-0">
            <h3 class="text">經典房</h3>
          </div>
          <img src="../assets/images/catRoom_Classic.png" alt="classic" />
        </div>
        <div class="col-lg-4 col-12 catRoom position-relative">
          <div class="roomImgText position-absolute bottom-0">
            <h3 class="text">豪華房</h3>
          </div>
          <img src="../assets/images/catRoom_luxury.png" alt="luxury" />
        </div>
      </div>
    </div>

    <div class="container-fluid p-0">
      <div class="row g-0">
        <div class="col-lg-6 col-12 promote d-flex justify-content-end">
          <div
            class="promoteText d-flex flex-column justify-content-center align-items-center"
          >
            <div class="textArea">
              <h3>獨立安全的專屬房間</h3>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">房間均高 300 公分</h6>
              </div>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">24 小時獨立房內監視器</h6>
              </div>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">一級防水木製房間</h6>
              </div>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">房內獨立抽風機、除濕機</h6>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 promote position-relative">
          <div class="promoteImg">
            <img
              class="img-fluid"
              src="../assets/images/ImgFeature02.png"
              alt="ImgFeature02"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid p-0">
      <div class="row g-0">
        <div
          class="col-lg-6 order-lg-1 col-12 order-2 promote position-relative"
        >
          <div class="promoteImg">
            <img
              class="img-fluid"
              src="../assets/images/ImgFeature01.png"
              alt="ImgFeature01"
            />
          </div>
        </div>
        <div
          class="col-lg-6 order-lg-2 col-12 order-1 promote d-flex justify-content-start"
        >
          <div
            class="promoteText d-flex flex-column justify-content-center align-items-center"
          >
            <div class="textArea">
              <h3>一位照護員照顧 6-8 間房</h3>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">完善的溝通與團隊合作</h6>
              </div>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">時間管理與效率高</h6>
              </div>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">每日家庭聯絡簿</h6>
              </div>
              <div class="d-flex align-items-center my-3">
                <img
                  class="icon"
                  src="../assets/icons/dogPaw.svg"
                  alt="date_icon"
                />

                <h6 class="mx-1 my-0">主動報告飲食起居和排便狀況</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>

    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
