<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row loginContent">
        <!-- 呈現載入提示畫面 -->
        <div
          id="loading"
          class="loading w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <img src="../assets/icons/catLoading.gif" alt="catLoading" />
        </div>

        <div id="loginTitle" class="col-12 d-none">
          <div class="d-flex justify-content-center align-items-end h-100 p-5">
            <h1>會員登入</h1>
          </div>
        </div>
        <div id="loginAll" class="col-12 d-none">
          <div id="loginAll" class="loginAll position-relative">
            <form
              id="loginForm"
              class="loginForm position-relative"
              method="GET"
            >
              <input
                id="email"
                class="input form-control my-3"
                type="email"
                placeholder="請輸入Email"
                required
              />

              <input
                id="password"
                class="input form-control my-3"
                type="password"
                placeholder="請輸入密碼"
                required
              />
              <div class="loginBtns d-flex justify-content-around">
                <div class="primaryFill-btn-primary">
                  <button id="loginBtn" type="submit" class="loginBtn h4">
                    會員登入
                  </button>
                </div>

                <div class="primaryStroke-btn-primary">
                  <a id="signupBtn" class="loginBtn h4" href="./signup.html"
                    >立即註冊</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/login.js"></script>
  </body>
</html>
