<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>會員登入</h1>
    <form method="GET">
      <input class="email" type="email" placeholder="請輸入Email" />
      <br />
      <input class="password" type="password" placeholder="請輸入密碼" />
      <br />
      <button type="submit" class="loginBtn">會員登入</button>
      <button>立即註冊</button>
    </form>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../login.js"></script>
  </body>
</html>
