<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>會員功能</h1>
    <h1 id="name" class="name"></h1>
    <ul>
      <li id="gender" class="gender"></li>
      <li id="birthday" class="birthday"></li>
      <li id="address" class="address"></li>
      <li id="phone" class="phone"></li>
      <li id="email" class="email"></li>
    </ul>
    <button id="signout" class="signout">登出</button>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../member.js"></script>
  </body>
</html>
