<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container p-0">
      <div class="row min-vh-100">
        <div class="col-lg-3 d-none d-lg-block">
          <%- include('./layout/aside'); -%>
        </div>
        <div class="col-lg-9 d-flex">
          <!-- <h1>資料管理</h1> -->
          <div
            id="userDataPresent"
            class="col-5 position-relative d-flex justify-content-center"
          >
            <div class="w-10 d-inline-flex flex-column">
              <h1 id="name" class="name d-inline-block"></h1>
              <ul class="list-inline d-inline-block">
                <li id="email" class="my-3"></li>
                <li id="gender" class="my-3"></li>
                <li id="birthday" class="my-3"></li>
                <li id="address" class="my-3"></li>
                <li id="phone" class="my-3"></li>
              </ul>
              <a id="editMember" href="../pages/editMember.html"
                >編輯會員資料</a
              >
              <button id="signout" class="signout">登出</button>
            </div>
          </div>
          <div id="userPhotoPresent" class="col-7">
            <img
              id="photo"
              class="rounded mx-auto d-block"
              src=""
              alt="會員照片"
            />
          </div>
        </div>
        <br />
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/aside.js"></script>
    <script type="module" src="../js/memberData.js"></script>
  </body>
</html>
