<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-旅館介紹</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row g-0">
        <div class="col-12 overflow-hidden">
          <div class="introduce_text m-5">
            <div
              class="title d-flex flex-column justify-content-center align-items-center"
            >
              <div>
                <div class="d-flex justify-content-center align-items-center">
                  <img
                    class="img-fluid rooms_dogPaw dogPaw_left mx-2"
                    src="../assets/icons/dogPaw.svg"
                    alt="dogPaw"
                  />
                  <div class="d-inline-flex flex-wrap justify-content-center"><h1 class="titleText">歡迎來到</h1><h1 class="titleText">貓の幸福</h1></div>
                  
                  <img
                    class="img-fluid rooms_dogPaw dogPaw_right mx-2"
                    src="../assets/icons/dogPaw.svg"
                    alt="dogPaw"
                  />
                </div>
                <div class="text">
                  <p>
                    歡迎光臨「貓の幸福」，我們致力於提供一個舒適、安全、充滿愛的貓咪度假勝地。每個客房都經過特別設計，滿足貓咪各種需求，包括舒適的床鋪、寬敞的遊戲空間以及新奇的貓玩具。我們專業的護理團隊會全程照顧您的貓咪，確保牠們在這裡度過愉快的時光。貓の幸福更提供24小時的監控系統，確保每隻貓咪都能在安全的環境中玩耍休息。無論是短期旅行還是長期寄宿，「貓の幸福」都是您貓咪的理想度假勝地。期待為您的貓咪打造一段愉快難忘的假期體驗！
                  </p>
                </div>
                <div class="catContainer d-flex justify-content-around">
                  <div class="catImg position-relative">
                    <img class="cat cat_01" src="../assets/images/catMotion_01.gif" alt="catMotion_01" />
                  </div>
                  <div class="catImg position-relative d-sm-block d-none">
                    <img class="cat cat_02" src="../assets/images/catMotion_02.gif" alt="catMotion_02" />
                  </div>
                  <div class="catImg position-relative d-lg-block d-none">
                    <img class="cat cat_03" src="../assets/images/catMotion_03.gif" alt="catMotion_03" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row g-0">
        <div class="col-12 p-0">
          <video id="myVideo" class="catVideo" autoplay loop controls>
            <!-- 請插入你的影片文件路徑 -->
            <source src="../assets/images/catVideo.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/rooms.js"></script>
    <script type="module" src="../js/roomsNavLink.js"></script>
  </body>
</html>
