<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <h1>會員註冊</h1>
    <form id="signupForm" class="signupForm" method="GET">
      <input
        id="email"
        class="email"
        type="email"
        name="email"
        placeholder="請輸入Email"
        required
      />
      <br />
      <input
        id="password"
        class="password"
        type="password"
        name="password"
        placeholder="請輸入密碼"
        required
      />
      <br />
      <input
        id="name"
        class="name"
        type="text"
        name="name"
        placeholder="請輸入姓名"
        required
      />
      <br />
      <input id="male" type="radio" name="gender" value="male" required />
      <label for="male">男</label>
      <input id="female" type="radio" name="gender" value="female" required />
      <label for="female">女</label>
      <input id="other" type="radio" name="gender" value="other" required />
      <label for="other">其他</label>
      <br />
      <input
        id="birthday"
        type="date"
        placeholder="請輸入生日"
        name="birthday"
        required
      />
      <br />
      <input
        id="phone"
        class="phone"
        type="number"
        placeholder="請輸入電話"
        name="phone"
        required
      />
      <br />
      <input
        id="address"
        class="address"
        type="text"
        placeholder="請輸入地址"
        name="address"
        required
      />
      <br />
      <button id="signupBtn" type="submit" class="signupBtn">會員註冊</button>
      <button id="loginBtn" class="loginBtn">立即登入</button>
    </form>
    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../signup.js"></script>
    <script type="module" src="../navbar.js"></script>
  </body>
</html>
