<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>猫の幸せ-註冊</title>
    <link rel="icon" href="../assets/icons/Logo.svg" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="container">
      <div class="row signupContent">
        <!-- 呈現載入提示畫面 -->
        <div
          id="loading"
          class="loading w-100 h-100 d-flex justify-content-center align-items-center"
        >
          <img src="../assets/icons/catLoading.gif" alt="catLoading" />
        </div>

        <div id="signupTitle" class="col-12 d-none">
          <div class="d-flex justify-content-center align-items-end h-100 p-5">
            <h1>會員註冊</h1>
          </div>
        </div>
        <div id="signupAll" class="col-12 d-none">
          <div class="signupAll position-relative">
            <form id="signupForm" class="signupForm" method="GET">
              <input
                id="email"
                class="input form-control my-3"
                type="email"
                name="email"
                placeholder="請輸入Email"
                required
              />

              <input
                id="password"
                class="input form-control my-3"
                type="password"
                name="password"
                placeholder="請輸入密碼"
                required
              />

              <input
                id="name"
                class="input form-control my-3"
                type="text"
                name="name"
                placeholder="請輸入姓名"
                required
              />

              <div id="gender" class="form-control my-3 gender">
                <div>
                  <input
                    id="male"
                    class="radio mx-1"
                    type="radio"
                    name="gender"
                    value="male"
                    required
                  />
                  <label class="fs-6" for="male">男</label>
                </div>

                <div>
                  <input
                    id="female"
                    class="radio mx-1"
                    type="radio"
                    name="gender"
                    value="female"
                    required
                  />
                  <label class="fs-6" for="female">女</label>
                </div>

                <div>
                  <input
                    id="other"
                    class="radio mx-1"
                    type="radio"
                    name="gender"
                    value="other"
                    required
                  />
                  <label class="fs-6" for="other">其他</label>
                </div>
              </div>

              <input
                id="birthday"
                class="input form-control my-3"
                type="text"
                placeholder="請輸入生日"
                class="form-control my-3"
                name="birthday"
                required
              />

              <input
                id="phone"
                class="input form-control my-3"
                type="number"
                placeholder="請輸入電話"
                name="phone"
                required
              />

              <input
                id="address"
                class="input form-control my-3"
                type="text"
                placeholder="請輸入地址"
                name="address"
                required
              />

              <div class="signupBtns d-flex justify-content-around">
                <div class="primaryFill-btn-primary">
                  <button id="signupBtn" type="submit" class="signupBtn h4">
                    會員註冊
                  </button>
                </div>

                <div class="primaryStroke-btn-primary">
                  <a id="loginBtn" class="signupBtn h4" href="./login.html"
                    >立即登入</a
                  >
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
    <script type="module" src="../main.js"></script>
    <script type="module" src="../js/navbar.js"></script>
    <script type="module" src="../js/signup.js"></script>
  </body>
</html>
